:host ::ng-deep {
    .p-menubar {
        border: none;
        border-radius: 0;
        background: #fff;
        max-height: 58px;
    }
    .p-button-plain {
        background: transparent;
        box-shadow: none;
        margin: 0;
        padding: 8px 3px;
        .pi {
            font-size: 24px;
        }
    }

    .search-input {
        margin-left: 120px;
    }
    .collapse-btn {
        margin-bottom: 9px;
    }
    .p-multiselect {
        border: none !important;
        box-shadow: none !important;
        .p-multiselect-label {
            padding: 0;
        }
        .p-checkbox {
            display: none;
        }
        .avatar {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .name-box {
            p {
                font-size: 16px;
                color: #000;
                font-weight: 700;
                margin-bottom: -4px !important;
            }
            span {
                font-size: 13px;
                font-weight: 500;
            }
        }
        .p-multiselect-item {
            position: relative;
            height: fit-content;
            .link {
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #181818;
            }
        }
        
    }

    .p-dropdown {
        border: none;
        background: #fff;
        box-shadow: none !important;
        .p-dropdown-label,
        .p-dropdown-trigger {
            padding-left: 0;
            padding-right: 0;
        }
        .p-dropdown-trigger {
            width: 30px;
        }
    }
}
